*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body,
html {
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  background: hsl(185, 75%, 39%);
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  color: hsl(0, 0%, 59%);
}

h3 {
  font-size: 3rem;
}

.circle {
  position: absolute;
  z-index: -1;
}

.circle--top {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.circle--bottom {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 2rem;
  }
}

.container {
  border-radius: 20px;
  overflow: hidden;
  background: #fff;
  width: 90%;
  max-width: 400px;
}

.header {
  background-image: url(/images/bg-pattern-card.svg);
  text-align: center;
  padding: 3rem;
}

.header > img {
  border-radius: 100%;
  transform: translateY(80%);
  border: 7px solid #fff;
  background: #fff;
}

.id {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  border-top: 1px solid hsl(0, 0%, 59%);
  padding: 2rem 0;
}

.footer_item {
  display: grid;
  gap: 1rem;
}
